//
// Variables
// --------------------------------------------------


//== Colors
//
// --------------------------------------------------
$white:               #fff !default;
$black:               #000 !default;
$brown:               #131110!default;
$theme-color:         #e6be62!default;
$dark-borwn:          #110f0e!default;
$gray:                #0e0c0c!default;
$gray-input:          #7b766b!default;
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:             #101010 !default;
//** Global text color on `<body>`.
$text-color:           $theme-color !default;


//** Global textual link color.
$link-color: $white !default;
//** Link hover color.
$link-hover-color:      #eab12b!default;
//** Link hover decoration.
$link-hover-decoration: none !default;



//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-base:  'Kanit', sans-serif;


$font-size-base:        1.6rem !default;

$font-size-h1:          2.8rem !default;
$font-size-h2:          2.4rem !default;
$font-size-h3:          2rem !default;
$font-size-h4:          1.6rem !default;


//== Screen size
//
// NOTE: calculated from `rem` start with size iPhone5 (568px*320px)
$screen-width:     42.6rem;
$screen-height:    23.6rem;



//== Media queries breakpoints
//
// For Container centered.
$mobile-sm: 320px !default;
$mobile: 375px !default;
$tablet: 768px !default;
$tablet-wide: 1024px !default;
$desktop: 1366px !default;

// $gradient: linear-gradient(to right, #578215, #59821a, #5a821f, #5c8123, #5d8127, #5f832a, #61842e, #638631, #668935, #6a8d38, #6d903c, #71943f);
$gradient: linear-gradient(90deg, #976a36 0, #d4a54d 25%, #fcdf88 50%, #ffd577 75%, #eec465);
$gradient-line: linear-gradient(270deg, rgba(184, 146, 71, 0) 0, #d4a947 50%, #fcd87d 75%, rgba(62, 37, 29, 0));
$gradient-banner: linear-gradient(to right, #1c1817, #1c18179c, #1c18177a, #1c181791, #1c18177a, #1c181700, #1c181700, #1c181700, #1c181773, #1c18179c, #1c1817e0, #1c1817);
$gradient-list:linear-gradient(180deg, #e8b94d 0, #352c16 49%, #1c1817 80%, #1c1817 75%, #1c1817);


//== Media queries breakpoints
$mobile-sm: 320px !default;
$mobile: 375px !default;
$tablet: 768px !default;
$tablet-wide: 1024px !default;
$desktop: 1200px !default;