header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        .navbar{
            padding: 1.5rem 0!important;
        }
    }
    .main-haeader{
        position: relative;
        .navbar{
            // background-image: $gradient;
            background-color: $body-bg;
            padding: 2rem 0;
            width: 100%;
            transition: $gobal-transition;
            >.container{
                // @include flexcenter();
                max-width: 130rem;
                .logo{
                    width: 10%;
                    @media screen and (max-width: 1023px) {
                        width: 20%;
                    }
                    @media screen and (max-width: 767px) {
                        width: 30%;
                    }
                }
                .menu{
                    // width: 60%;
                    @media screen and (max-width: $desktop) {
                        display: none;
                    }
                    .menu-list{
                        list-style: none;
                        margin: 0;
                        text-align: center;
                        .menu-list__item {
                            transition: $gobal-transition;
                            position: relative;
                            margin-right: 1.5rem;
                            text-align: center;
                            top: 0;
                            cursor: pointer;
                            display: inline-block;
                            text-transform: uppercase;
                            border-bottom: 0.3rem solid transparent;
                            i{
                                margin-left: 1rem;
                                margin-top: 0.5rem;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            .menu__icon{
                                width: 1.5rem;
                                height: 1.5rem;
                                margin-right: 1rem;
                            }
        
                            >a {
                                color: $theme-color;
                                text-decoration: none;
                                font-family: $font-family-base;
                                position: relative;
                                font-size: 1.6rem;
                                font-weight: 500;
                                @include flexcenter();
                            }

                            .sub-menu {
                                position: absolute;
                                opacity: 0;
                                visibility: hidden;
                                transition: all .25s ease-in-out;
                                margin-top: 2.5rem;
                                margin-left: -5rem;
        
                                &.show {
                                    opacity: 1;
                                    visibility: visible;
                                }
        
                                >ul {
                                    background-color: #151414ed;
                                    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
                                    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
                                    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
                                    width: 20rem;
                                    padding: 0;
                                    border-radius: 1rem;
                                    border: 0.1rem solid rgba(253, 246, 196, .2);
        
                                    >li {
                                        list-style: none;
                                        padding: 1.1rem 2rem;
        
                                        &:hover {
                                            background-color: rgba(250, 224, 163, .1);
                                            border-radius: 1rem;
                                        }
        
                                        a {
                                            text-decoration: none;
                                            color: $theme-color;
                                            font-size: 1.4rem;
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .button-container{
                    @media screen and (max-width: $desktop) {
                       display: none;
                    }
                }
            }
        }
    }
    .menu-hamburger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.6rem;
        height: 5rem;
        width: 5rem;
        z-index: 20;
        display: none;
        @media screen and (max-width: $desktop) {
            display: block;
        }
	    cursor: pointer;
        &__line {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 3rem;
            height: 0.4rem;
            background: $white;
            border-radius: 1.3rem;
            transition-duration: .4s;

            &:nth-child(1) {
                top: 1.4rem;
            }
            &:nth-child(2) {
                top: 2.3rem;
            }
            &:nth-child(3) {
                bottom: 1.4rem;
            }
            &.active {
                box-shadow: none;
                &:nth-child(1) {
                    transform: translate(-12px, 9px) rotate(-45deg);
                }
                &:nth-child(2) {
                    transition-duration: 0s;
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translate(-12px, -9px) rotate(45deg);
                }
            }
        }
    }
    .mobile-menu{
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
        .nav {
            @include flex();
            position: fixed;
            bottom: 0;
            right: -999px;
            background-color: $body-bg;
            height: 100vh;
            width: 100%;
            z-index: 10;
            transition: all .5s ease-in-out;
            // align-items: center;
            top: 0;
            &.open {
                right: 0px;
                bottom: 0px;
                border-radius: 0;
               @include flex();
               align-items: flex-start;
               padding-top: 8rem;
            }
            &__list {
                // display: none;
                width: 100%;
                height: 75%;
                padding: 3rem 4rem;
                overflow-y: scroll;
                &.show {
                    @include flex();
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
            &__item {
                display: flex;
                align-items: center;
                background-color: transparent;
                width: 100%;
                opacity: 0;
                animation-name: fadein;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                position: relative;
                flex-wrap: wrap;
               
                i{
                    margin-left: 1rem;
                }
                &::after{
                    content: "";
                    width: 100%;
                    height: 0.2rem;
                    position: absolute;
                    background-color: rgba(235, 235, 235, 0.2);
                    bottom: 0;
                }
                &:nth-child(1) {
                    animation-delay: .5s;
                }
                &:nth-child(2) {
                    animation-delay: .5s;
                }
                &:nth-child(3) {
                    animation-delay: .6s;
                }
                &:nth-child(4) {
                    animation-delay: .6s;
                }
                &:nth-child(4) {
                    animation-delay: .7s;
                }
                &:nth-child(5) {
                    animation-delay: .7s;
                }
                &:nth-child(6) {
                    animation-delay: .8s;
                }
                .sub-menu{
                    overflow: hidden;
                    visibility: hidden;
                    height: 0;
                    transition: $gobal-transition;
                    width: 100%;
                    .nav-drop{
                        list-style: none;
                        padding: 0 2rem;
                        transition: $gobal-transition;
                        .nav-drop-item{
                            transition: $gobal-transition;
                            margin-bottom: 1rem;
                            a{
                                color: $white;
                                text-decoration: none;
                                outline: none;
                            }
                        }
                    }
                    &.open{
                        height: auto;
                        visibility: visible;
                        opacity: 1;
                        transition: $gobal-transition;
                    }
                }
                &.has-child{
                    .nav__link{
                        pointer-events: none;
                    }
                }
            }
            &__link {
                font-size: 24px;
                letter-spacing: 0.1em;
                text-decoration: none;
                color: $white;
                font-family: $font-family-base;
                font-size: 1.8rem;
                padding: 2rem 0;
                color: $white;
                width: 90%;
            }
            .button-container{
                width: 100%;
                text-align: center;
            }
        }
        &.open{
            display: block;
        }
    }
}

