i{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    transition: all .25s ease-in-out;
    &.i-login{
        background-image: url(../images/icons/login.svg);
        width: 1.5rem;
        height: 1.5rem;
    }
    &.i-user{
        background-image: url(../images/icons/user.svg);
        width: 1.5rem;
        height: 1.5rem;
    }
    &.i-arrow-down{
        background-image: url(../images/icons/down-arrow.png);
        width: 1rem;
        height: 1rem;
    }
}