.page-template-page-promotion{
    .sec-promotion{
        h2{
            text-align: center;
            margin-bottom: 4rem;
        }
        .slot-wrapper,
        .casino-wrapper{
            padding: 4rem 0;
        }
    }
}