{% extends "base.twig" %}

{% block content %}
	<section class="page-error">
		<div class="container">
			<div class="page-error__body">
				<div class="page-error__bubble">
					<h1 class="gold">ขออภัย</h1>
					<h2 class="white">ไม่มีหน้าที่คุณต้องการค้นหา</h2>
					<div class="page-error__btn">
						<a href="{{ site.url }}" class="btn btn--primary">กลับสู่หน้าหลัก</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}