{% block html_head_container %}
	{% include 'templates/html-header.twig' %}
{% endblock %}

	<body class="{{body_class}}">
	{% if options_google_tag_manager %}
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ options_google_tag_manager }}" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{% endif %}
	
	{% include 'templates/partial/bg.twig' %}
		{% block header %}
			{% include 'templates/header.twig' %}
		{% endblock %}

		{% block content %}{% endblock %}
		
		{% block footer %}
			{% include 'templates/footer.twig' %}
		{% endblock %}
	</body>
</html>
